<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item name="">
          <ion-icon slot="start" name="search-outline"></ion-icon>
          <a class="spacing" (click)="goPropiedades()">Buscar propiedades</a>

        </ion-item>

        <div *ngIf="!currentUser">
          <ion-item (click)="goLogin()">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            <a class="spacing" (click)="goLogin()">Ingresar</a>
          </ion-item>

        </div>
        
        <div *ngIf="currentUser">
      <ion-item>
        <ion-icon slot="start" name="person"></ion-icon>
        <a class="spacing" (click)="goUser()">Perfil</a>
      </ion-item>

      <ion-item (click)="gologout()">
        <ion-icon slot="start"name="log-out-outline"></ion-icon>
        <a class="spacing" (click)="gologout()">Salir</a>
      </ion-item>

    </div>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Uldum</ion-title>
      </ion-toolbar>
    </ion-header>

    <div *ngFor="let item of items" class="card-background-page">
      <ion-card [routerLink]="['/propiedades/detalle', item.uid]">
        <img src={{item.imagen}}/>
        <div class="card-title-1">{{ item.nombre }}</div>
        <div *ngIf="item.nombre.length<20">
          <div class="card-subtitle-1"> {{ item.descripcion.slice(0,150) }}...</div>
        </div>
      </ion-card>
    </div>
  </ion-content>
</ion-app>
