.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

.success{
  color: green;
}

.pagina {
  position: relative;
  text-align: center;  
}
.container {
  margin: auto;
  padding: 40px;
}
#form {
  padding: 15px;
  border-radius: 25px;
  border: 2px solid grey;
}